{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
  },
  "rules": {
    "id-length": [2, {"min": 2, "properties": "never", "exceptions": ["_", "i", "j"]}],
    "indent": [2, 2, {"SwitchCase": 1}],
    "max-len": [0],
    "react/jsx-no-bind": 1,
    "react/prop-types": 1,
    "arrow-body-style": [0],
    "react/prefer-stateless-function": 1,
    "no-use-before-define": [2, "nofunc"],
  },
}
